.footer {
  position: relative;
  overflow: hidden;
  min-height: 400px;
  &::after {
    position: absolute;
    width: 1200px;
    height: 1200px;
    top: -400px;
    left: 50%;
    margin-left: -600px;
    content: '';
    background: transparent url('/image/trongdong.webp') no-repeat center center;
    background-size: 100% auto;
    opacity: 0.3;

    -webkit-animation-name: rotate;
    -webkit-animation-duration: 60s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
  }
  .divider {
    width: 100%;
    transform: rotateX(180deg);
    background: var(--background-default);
  }

  //   ///////
  @keyframes rotate {
    from {
      -webkit-transform: rotate(0);
    }

    to {
      -webkit-transform: rotate(360deg);
    }
  }

  @-webkit-keyframes rotate {
    from {
      -webkit-transform: rotate(0);
    }

    to {
      -webkit-transform: rotate(360deg);
    }
  }
}
