@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white;
  }

  .h1 {
    @apply text-4xl font-extrabold mb-[18px];
  }

  .h2 {
    @apply text-4xl font-bold mb-4;
  }

  .h3 {
    @apply text-xl mb-4 font-semibold;
  }

  .section {
    @apply w-full h-screen pt-[60px];
  }

  .btn {
    @apply rounded-[10px] w-full uppercase font-medium text-white tracking-[2px] text-[13px] flex justify-center items-center transition-all duration-300;
  }
}

@import './login.scss';
@import './footer.scss';
@import './mixin';
@import './available.scss';
@import './btnSwitcher.scss';
@import './product-detail.scss';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --height-header: 60px;
  --color-primary: #59a4a4;
}

body {
  margin: 0;
  font-size: 16px;
}

a {
  text-decoration: none;
}

img {
  width: 100% !important;
  height: 100% !important;
}

/* Hide the scrollbar */
::-webkit-scrollbar {
  width: 0;
  display: none;
  /* Adjust the width as needed */
}

/* Hide the scrollbar track */
::-webkit-scrollbar-track {
  display: none;
}

/* Hide the scrollbar thumb */
::-webkit-scrollbar-thumb {
  display: none;
}

.switcher-theme {
  width: 80px;
  // background-color: antiquewhite;
  border-radius: 50px;
}

.btn-switcher {
  padding: 4px;

  svg {
    font-size: 18px;
  }
}

.hidden {
  display: none;
}

.light {
  background: #f9feff;
  color: #fff;
}

.content-app {
  width: min(100% - 40px, 1200px);
}

.dark {
  background: #00388d;
  color: #d1f6ff;
}

.slider {
  width: min(100%, 1200px);
  margin: 0 auto;
}



.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex !important;
  justify-content: center;
  align-items: center !important;
  position: relative;
}

.swiper-slide img {
  display: block;
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
}

.swiper-slide-thumb-active {
  span {
    font-weight: 600 !important;
  }

  &::after {
    content: '';
    position: absolute;
    height: 4px;
    background-color: var(--color-primary);
    bottom: 0;
    left: 0;
    width: 100%;
    animation: border .4s linear;
  }
}

.swiper-button-next,
.swiper-button-prev {
  height: 40px !important;
  width: 40px !important;
  position: absolute;
  top: 0 !important;

  &::after {
    height: 100% !important;
    width: 100% !important;

    border-radius: 50%;
    background-color: rgba(89, 164, 164, 0.6);
    color: #f9feff;
    font-size: 18px !important;
  }
}

.art-video {
  height: fit-content !important;
}

// not-found 
.spotlight[data-v-ccd3db62] {
  background: linear-gradient(45deg, #00dc82, #36e4da, #0047e1);
  bottom: -30vh;
  filter: blur(20vh);
  height: 40vh
}

.gradient-border[data-v-ccd3db62] {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: .5rem;
  position: relative
}


.gradient-border[data-v-ccd3db62] {
  background-color: #1414144d
}

.gradient-border[data-v-ccd3db62]:before {
  background: linear-gradient(90deg, #303030, #303030, #00dc82, #36e4da, #0047e1)
}

.gradient-border[data-v-ccd3db62]:before {
  background-size: 400% auto;
  border-radius: .5rem;
  bottom: 0;
  content: "";
  left: 0;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  opacity: .5;
  padding: 2px;
  position: absolute;
  right: 0;
  top: 0;
  transition: background-position .3s ease-in-out, opacity .2s ease-in-out;
  width: 100%
}

.gradient-border[data-v-ccd3db62]:hover:before {
  background-position: -50% 0;
  opacity: 1
}


.antialiased[data-v-ccd3db62] {
  position: fixed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}