@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white;
  }

  .h1 {
    @apply text-4xl font-extrabold mb-[18px];
  }

  .h2 {
    @apply text-4xl font-bold mb-4;
  }

  .h3 {
    @apply text-xl mb-4 font-semibold;
  }

  .section {
    @apply w-full h-screen pt-[60px];
  }

  .btn {
    @apply rounded-[10px] w-full uppercase font-medium text-white tracking-[2px] text-[13px] flex justify-center items-center transition-all duration-300;
  }
}

@import './login.scss';
@import './footer.scss';
@import './mixin';
@import './available.scss';
@import './btnSwitcher.scss';
@import './product-detail.scss';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --height-header: 60px;
  --color-primary: #59a4a4;
}

body {
  margin: 0;
  font-size: 16px;
}

a {
  text-decoration: none;
}

/* Hide the scrollbar */
::-webkit-scrollbar {
  width: 0;
  display: none;
  /* Adjust the width as needed */
}

/* Hide the scrollbar track */
::-webkit-scrollbar-track {
  display: none;
}

/* Hide the scrollbar thumb */
::-webkit-scrollbar-thumb {
  display: none;
}

.switcher-theme {
  width: 80px;
  // background-color: antiquewhite;
  border-radius: 50px;
}

.btn-switcher {
  padding: 4px;

  svg {
    font-size: 18px;
  }
}

.hidden {
  display: none;
}

.light {
  background: #f9feff;
  color: #fff;
}

.content-app {
  width: min(100% - 40px, 1200px);
}

.dark {
  background: #00388d;
  color: #d1f6ff;
}

.slider {
  width: min(100%, 1200px);
  margin: 0 auto;
}



.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex !important;
  justify-content: center;
  align-items: center !important;
  overflow: hidden;
  position: relative;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide-thumb-active {
  span {
    font-weight: 600 !important;
  }

  &::after {
    content: '';
    position: absolute;
    height: 4px;
    background-color: var(--color-primary);
    bottom: 0;
    left: 0;
    width: 100%;
    animation: border .4s linear;
  }
}

.swiper-button-next,
.swiper-button-prev {
  height: 40px !important;
  width: 40px !important;

  &::after {
    height: 100% !important;
    width: 100% !important;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgba(89, 164, 164, 0.6);
    overflow: hidden;
    color: #f9feff;
    font-size: 18px !important;
  }
}

@keyframes border {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }

}