  @import './mixin';

  .header {
    .header-right {
      .account {
        &:hover .account-action {
          display: block;
        }
      }
    }

    @include mobile {

      .show-nav {
        right: 0;
        animation: nav-bar 0.4s ease-out;
      }

      .hidden-nav {
        right: -100vw;
        animation: hidden-nav 0.4s ease-out;
      }

    }

    @keyframes nav-bar {
      0% {
        right: -100vw;
      }

      100% {
        right: 0;
      }
    }

    @keyframes hidden-nav {
      0% {
        right: 0;
      }

      100% {
        right: -100vw;
      }
    }

  }